supabase
bcrypt
torch --index-url https://download.pytorch.org/whl/cpu
sentence-transformers
langchain
langchain-huggingface
langchain-groq
langchain-community
faiss-cpu
python-docx
pymupdf
beautifulsoup4
psutil
requests
python-dotenv
fastapi
uvicorn
python-multipart
